/*
Use this to create a tag to help us locate our currently focused task.

<span class="focus-tag">
*/

.focus-tag {
  display: inline-block;
  background-color: var(--tag-background);
  color: var(--color-accent);
  border-radius: 9999px;
  padding-inline: 8px;
}
